= render 'left_content'

.content__right
  .content__right__header
    .group-index
      .group-name
        = @group.name
      %ul
        %li Members:
        = render partial: 'user', collection: @users
    .edit-btn
      = link_to edit_group_path do
        Edit
  = render template: "chats/index"
